body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100vh;
  width: 100vw;
}

.map-container {
  height: 80%;
  width: 100%;
}

.settings {
  display: inline;
  height: 100%;
  float: none;
  overflow: hidden;
  fill: aqua;
}

.datepicker {
  display: inline;
  float: none;
  overflow:visible;
  height: 100%;
  width: 100%;
  fill: blanchedalmond;
}

.ontop {
  position: fixed;
  z-index: 999;

}